@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap');

body {
  margin: 0; font-family: 'Song Myung', serif; -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
div {box-sizing: border-box;}
button {font-family: 'Noto Serif KR', serif;}

.container {
  margin: auto;
  margin-top: 5%;
  width: 90%;
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.bg {
  width: 100%;
  min-height: 100%;
}

.darkmodeBg {
  background-color: black;
}

.darkmode {
  color: white;
  background-color: #212529;
}

.Btn {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
}

.darkBtn {
  color: white;
  background-color: #343a40;
}

.fixedDarkBtn {
  position: absolute;
  bottom: 7px;
  right: 7px;
}

.answer {
  font-size: 2rem;
  width: 250px;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 0px 10px 0px;
}
.answers {
  margin-bottom: 25px;
}

.O {
  background-color: blue;
}
.O:hover {
  background-color: rgb(92, 92, 255);
}

.X {
  background-color: red;
}
.X:hover {
  background-color: rgb(252, 77, 77);
}

.answerO {color: blue;}
.answerX {color: red}

.resultScore {
  font-size: 3rem;
}
.scorePerfect {
  color: gold;
}
.scoreHigh {
  color: greenyellow;
}
.scoreMiddle {
  color: brown;
}
.scoreLow {
  color: red;
}

.fs-l {
  font-size: 1.4rem;
}

.addEx {
  font-size: 1.3rem;
}

.question {
  font-size: 1.8rem;
}

.image {
  width: 100%;
  height: 320px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15px;
}

.viewBtn {
  font-size: 1.5rem;
  padding: 10px;
}

.homeImage {
  background-image: url('../public/제리꾸벅.gif');
  background-size: contain;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
}
.resultBtns {
  margin-bottom: 19px;
}